$Mobile: 375px;
$tablet: 992px;

$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

$bg-lightGrayishBlue: hsl(210, 46%, 95%);

$text-veryDarkGrayishBlue: hsl(217, 19%, 35%);
$text-grayishBlue: hsl(212, 23%, 69%);
$text-desaturatedDarkBlue: hsl(214, 17%, 51%);
